*{
  margin: 0;
  padding: 0;
}
.container {
    width: 575px;
    height: 825px;
    margin-left: 30rem;
    background-color: #797978;
    padding-left: 5rem;
  }
  .a{
    display: flex;
    color: rgb(6, 237, 33) ;
    margin-left: 100px;
    text-decoration: underline;
  }
  
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  h3{
    color: crimson;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 100px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 20px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  form{
    margin-top: 7rem;
    margin-left: 5rem;
  }
  